# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# PHP
vendor/
composer.phar
composer.lock
composer-installer.php

# Laravel
bootstrap/cache/
public/storage
public/hot
storage/*.key
.env
.env.backup
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode


# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# JetBrains
.idea/
*.iml
*.iws
*.ipr
out/
